{"outfile": "$out_file", "intervention_1": "$intervention_1", "intervention_2": "$intervention_2", "trace_prob_E": "$trace_prob_E", "trace_rate_I": "$trace_rate_I", "trace_contact_reduction": "$trace_contact_reduction", "uptake": "$uptake", "efoi": "$efoi"}
